<a href="https://colab.research.google.com/github/PerlasKurtNiko/58003-OOP/blob/main/Looping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Looping

In [1]:
enterprise = ["Kirk", "Spock", "Mc Coy"]

for x in enterprise:

  print (x)

Kirk
Spock
Mc Coy

In [3]:
#For Looping through a string 

for sixnine in "Lord Vader":
  print (sixnine)

L
o
r
d

V
a
d
e
r

In [10]:
#For Looping with break

hatdog = ["Cheesedog", "Footlong", "Hotdog", "JunJun"]

for r in hatdog:
  print (r)
  if r == "Hotdog":
    break

Cheesedog
Footlong
Hotdog

In [18]:
#For Looping with range

for y in range (10):
  print (y)
print (" ")
for d in range (5, 20, 2):
  print (d)

0
1
2
3
4
5
6
7
8
9

5
7
9
11
13
15
17
19

In [32]:
#For Looping with continue

week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for linggo in week:
  if linggo == "Wednesday": continue
  print (linggo)

Sunday
Monday
Tuesday
Thursday
Friday
Saturday

In [41]:
#Loop within a Loop

p = ["Love", "Kill", "I"]
e = ["Me", "Myself","Ignore"]

for k in p:
  for c in e:
    print (k.c)

Love
Me
Love
Myself
Love
Ignore
Kill
Me
Kill
Myself
Kill
Ignore
I
Me
I
Myself
I
Ignore

In [44]:
#Print only Thursday

week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for linggo in week:
  if linggo == "Thursday": 
    print (linggo) 
    break

Thursday

In [ ]:
#Using Looping with Else functio


week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for linggo in week:
  if linggo == "Wednesday": continue
  print (linggo)

In [50]:
#While Looping (Test the condition while the condition is true)

n = 1
while n < 5:
  print (n)
  n+=1

1
2
3
4

In [56]:
#While Loop using break statements (print only 4)

no = 1
while no < 20:
  if no == 4:
    n+=1
    print (no)
    break

KeyboardInterrupt: ignored

In [76]:
#Print Hello + number (Application 1 "While Loop")

t=0

while t < 11:
  if t < 11:
    print ("Hello",t)
    t+=1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [82]:
#Application 1 (For Loop)

mk = [0,1,2,3,4,5,6,7,8,9,10]

for km in mk:
    print ("Hello", mk)

Hello [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Hello [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Hello [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Hello [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Hello [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Hello [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Hello [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Hello [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Hello [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Hello [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Hello [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [81]:
#Application 2 (While Loop)

gt = 3

while 3<=gt<10:
  print (gt)
  gt+=1

3
4
5
6
7
8
9